* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-left: 0px;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.Content {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  list-style: none;
  grid-gap: 1.5rem;
}

.Content img {
  max-width: 100%;
}

input {
  margin: 40px auto;
}