* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-left: 0px;
  background-color: rgb(190, 248, 167);
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  border: 3px solid rgb(21, 51, 221);
  border-radius: 4px;
  background-color: white;
  height: 100%;
}

.Content {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  list-style: none;
  grid-gap: 1.5rem;
  padding: 20px;
}

.Content img {
  max-width: 100%;
}

.Category {
  color: rgb(26, 168, 7);
}

.Name {
  padding: 2px 20px;
}

input {
  margin: 40px auto;
}